@import 'tailwindcss';

@theme {
    --font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #6677fb;
    --color-primary-content: #101828;
    --color-complementary: #355c7d;
    --background: #161616;
    --default-font-family: 'IBM Plex Sans';
    --spacing: .25rem;
    --ring: oklch(.556 0 0);
}

@layer utilities {
  .bg-complementary {
    background-color: var(--background);
  }
}

@layer utilities {
  .font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
  }
}
@layer utilities {
  .px-2 {
    padding-inline: calc(var(--spacing)*2);
  }
}

@layer utilities {
  @media (min-width: 48rem) {
    .md\:px-8 {
      padding-inline: calc(var(--spacing)*8);
    }
  }
}

@layer utilities {
  .py-3 {
    padding-block: calc(var(--spacing)*3);
  }
}

@layer base {
  @supports (color:color-mix(in lab,red,red)) {
    * {
      outline-color: color-mix(in oklab,var(--ring)50%,transparent);
    }
  }
}

@layer utilities {
  .justify-between {
    justify-content: space-between;
  }
}

@layer utilities {
  .items-center {
    align-items: center;
  }
}

@layer utilities {
  .w-full {
    width: 100%;
  }
}

@layer utilities {
  .min-h-\[4\.5rem\] {
    min-height: 4.5rem;
  }
}

@layer utilities {
  .min-h-\[4\.5rem\] {
    min-height: 4.5rem;
  }
}

@layer utilities {
  @media (min-width: 48rem) {
    .md\:flex-1 {
      flex: 1;
    }
  }
}

@layer utilities {
  @media (min-width: 48rem) {
    .md\:flex {
      display: flex;
    }
  }
}

@layer base {
  :host, html {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings,normal);
    font-variation-settings: var(--default-font-variation-settings,normal);
  }
}

@layer base {
    h1 {
        @apply text-4xl font-bold tracking-tight sm:text-5xl;
    }

    h2 {
        @apply text-2xl font-bold sm:text-3xl;
    }

    a:not(.btn) {
        @apply transition hover:opacity-80;
    }

    pre {
        @apply p-6 overflow-x-auto rounded-lg;
    }

    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-gray-900 text-primary;
        font-size: 0.9em;
    }
}

@layer components {
    .markdown {
        > * {
            @apply my-6;
        }

        :where(h1, h2) {
            @apply mt-12 mb-6;
        }

        > :first-child {
            @apply mt-0;
        }

        > :last-child {
            @apply mb-0;
        }
    }

    .btn {
        @apply inline-flex items-center justify-center gap-2 bg-primary text-primary-content cursor-pointer text-center font-semibold no-underline transition-colors;
        padding: var(--btn-py, 0.875rem) var(--btn-px, 1.25rem);
        font-size: var(--btn-font-size, 0.875rem);
        border-radius: var(--btn-border-radius, 0.25rem);

        &:hover {
            @apply bg-primary/85;
        }

        &:disabled {
            @apply text-gray-400 bg-gray-700;
        }
    }

    .btn-lg {
        --btn-font-size: 1.125rem;
        --btn-px: 1.5rem;
        --btn-py: 1.125rem;
    }
}
