---
import LSVG from '../components/LogoSVG.astro';

const { size = 32 } = Astro.props;
---

<div style="display: inline-flex; gap: 0.50rem;">
    <LSVG size={size} />

    <text class="logo-abs">
        <tspan>LOVANIA</tspan>
    </text>
</div>
